@font-face {
  font-weight: normal;
  font-family: "noto_sansregular";
  font-style: normal;
  src: url("../fonts/notosans-regular-webfont.woff2") format("woff2"), url("notosans-regular-webfont.woff") format("woff");
}
@font-face {
  font-weight: normal;
  font-family: "noto_sansbold";
  font-style: normal;
  src: url("../fonts/notosans-bold-webfont.woff2") format("woff2"), url("../fonts/otosans-bold-webfont.woff") format("woff");
}
body {
  overflow-x: hidden;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "noto_sansregular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  color: #3E4348;
  display: flex;
  flex-direction: column;
  background-color: #F8F8FF;
  /* min-height: 100vh;
  max-height: 800px; */
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
.album-cover {
  margin: 0;
  padding: 0;
  height: 290px;
  background-color: #C72E45;
}
@media (min-width: 768px) {
  .album-cover {
    margin: 0 auto;
    width: 285px;
    height: 285px;
  }
}
@media (min-width: 1200px) {
  .album-cover {
    margin: 0;
    margin-left: 60px;
    width: 220px;
    height: 220px;
  }
}
@media (min-width: 1700px) {
  .album-cover {
    width: 285px;
    height: 285px;
    margin-left: 150px;
    margin-bottom: 0;
  }
}
.album-description {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.album-descriptionn__title {
  margin: 0;
  padding: 0;
  font-family: "noto_sansbold", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 57px;
}
.album-description__discription {
  margin: 0;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .album-description {
    padding-top: 100px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .album-description {
    padding: 0;
    width: 280px;
    text-align: left;
    float: left;
  }
  .album-description__discription {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    font-size: 18px;
  }
}
.album-tracks {
  margin: 0;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 0;
  order: 2;
}
@media (min-width: 768px) {
  .album-tracks {
    width: 373px;
    margin: 0;
    padding: 60px 0;
  }
}
@media (min-width: 1024px) {
  .album-tracks {
    width: 480px;
  }
}
@media (min-width: 1200px) {
  .album-tracks {
    width: 337px;
    margin: 0;
    margin-left: 50px;
    padding: 0;
    padding-top: 20px;
    order: 0;
  }
  .album-tracks__list {
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1700px) {
  .album-tracks {
    margin-left: 150px;
    float: right;
  }
}
.albums-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.albums-item {
  padding: 12px 15px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 7px solid #C72E45;
  background-color: #3E4348;
}
.album-item__img {
  display: none;
}
.albums-item a {
  text-decoration: none;
  color: #ffffff;
  border: none;
  line-height: normal;
}
@media (min-width: 768px) {
  .albums-item {
    height: 136px;
    padding: 0;
    margin-bottom: 20px;
    background: #EFEFEF;
    border: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  }
  .albums-item a {
    position: relative;
    float: left;
    background: gray;
    width: 80px;
    height: 100%;
  }
  .albums-item a span {
    width: 136px;
    /* same as height of .rotateObj */
    -webkit-transform-origin: 77px 59px;
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    text-align: center;
  }
  .albums-item a {
    background: #3E4348;
  }
  .album-item__cover {
    position: absolute;
    bottom: 0;
    right: 0;
    float: right;
    width: 25px;
    height: 100%;
    background: #C72E45;
  }
}
@media (min-width: 1700px) {
  .album-item__img {
    display: block;
  }
  .album-item__cover {
    width: 136px;
  }
  .albums-item a {
    width: 200px;
  }
  .albums-item a span {
    width: 136px;
    /* same as height of .rotateObj */
    -webkit-transform-origin: 63px 73px;
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    text-align: center;
  }
}
.audio {
  width: 300px;
  margin-left: 10px;
  display: block;
}
.audio--album {
  margin: 0;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}
.audio__button {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  border: 4px solid #3E4348;
  cursor: pointer;
  background-color: #ffffff;
  position: relative;
  float: left;
  outline: none;
}
.audio__wrapper {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.audio__wrapper--opened {
  opacity: 1;
  visibility: visible;
}
.button-play::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 12px;
  left: 18px;
  border-top: 12px solid transparent;
  border-left: 20px solid #3E4348;
  border-bottom: 12px solid transparent;
}
.button-pause::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 16px;
  width: 6px;
  height: 22px;
  background-color: #3E4348;
}
.button-pause::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 27px;
  width: 6px;
  height: 22px;
  background-color: #3E4348;
}
#timeBox {
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  float: left;
  font-size: 12px;
  position: relative;
}
.audio__volume {
  margin-left: 10px;
  margin-right: 5px;
  width: 36px;
  height: 26px;
  margin-top: 16px;
  border: none;
  outline: none;
  float: left;
  cursor: pointer;
  display: none;
}
.audio__up {
  background: url("../img/volume-up.svg") no-repeat;
  float: left;
}
.audio__mute {
  background: url("../img/volume-mute.svg") no-repeat;
  float: left;
}
.audio__seek-slider {
  margin-top: 22px;
  margin-left: -4px;
  width: 120px;
  cursor: pointer;
  float: left;
}
.audio__volume-slider {
  margin-top: 22px;
  width: 70px;
  cursor: pointer;
  display: none;
}
.timebox {
  display: inline-block;
  width: 80px;
  background: #000;
  text-align: center;
  color: #09F;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.audio__trackName {
  position: absolute;
  bottom: 35px;
  left: -120px;
  font-size: 16px;
}
input[type='range'] {
  -webkit-appearance: none !important;
  padding: 0px;
  padding-left: 5px;
  padding-right: 2px;
  background: #3E4348;
  height: 10px;
  border: 2px solid #3E4348;
  border-radius: 5px;
  outline: none;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: #ffffff;
  height: 8px;
  width: 8px;
  cursor: pointer;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .audio {
    width: 400px;
    margin: 0;
    display: block;
  }
  .audio--album {
    margin: 0;
    padding: 0;
    padding-bottom: 49px;
    display: flex;
    width: 400px;
  }
  .audio__volume {
    display: block;
  }
  .audio__volume-slider {
    display: inline-block;
  }
}
@media (min-width: 1024px) {
  .audio {
    margin: 0;
    margin-left: 58px;
    display: block;
  }
}
@media (min-width: 1200px) {
  .audio {
    margin-left: 0;
    width: 440px;
    margin-top: 35px;
  }
  .audio--album {
    margin-top: 30px;
    padding-right: 547px;
    width: 420px;
  }
}
@media (min-width: 1700px) {
  .audio {
    width: 502px;
    margin-top: 35px;
    margin-left: 61px;
  }
  .audio--album {
    padding-right: 800px;
  }
}
.button {
  display: block;
  box-sizing: border-box;
  padding: 15px;
  background-color: #3E4348;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
  border: none;
  width: 100%;
  cursor: pointer;
}
.button-contacts {
  padding: 15px;
  margin: 0 auto;
  margin-top: 30px;
  width: 200px;
  font-size: 16px;
}
.button-contacts:hover {
  background-color: #C72E45;
  transition: 0.3s;
}
@media (min-width: 1200px) {
  .button-contacts {
    margin: 0;
    margin-top: 30px;
  }
  .button {
    font-size: 20px;
  }
}
@media (min-width: 1700px) {
  .contacts__title {
    margin: 0;
  }
}
.form__input-title {
  font-weight: normal;
}
.form__checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.form__checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #3e4348;
}
.form__checkbox :hover,
.form__checkbox :focus {
  color: #FF7777;
}
.form__checkbox input[type="checkbox"]:checked + .form__checkbox-indicator::before,
.form__checkbox input[type="checkbox"]:checked + .form__checkbox-indicator::after {
  content: "";
  position: absolute;
  background-color: #C72E45;
}
.form__checkbox input[type="checkbox"]:checked + .form__checkbox-indicator::before {
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
  top: 10px;
  left: 0px;
  width: 8px;
  height: 2px;
}
.form__checkbox input[type="checkbox"]:checked + .form__checkbox-indicator::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
  left: 3px;
  width: 14px;
  height: 2px;
}
.indicates::after {
  content: '*';
  color: #C72E45;
  padding: 5px;
  font-size: 15px;
}
.main-nav {
  position: relative;
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}
.main-nav__social {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}
.main-nav__toggle {
  position: absolute;
  top: -68px;
  right: 7px;
  z-index: 40;
  width: 40px;
  height: 40px;
  display: block;
  background-color: #F8F8FF;
  border: none;
  cursor: pointer;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 7px;
  width: 25px;
  height: 4px;
  background-color: #3E4348;
  box-shadow: 0 8px 0 0 #3E4348, 0 16px 0 0 #3E4348;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 10px;
  width: 20px;
  height: 2px;
  background-color: #C72E45;
}
.main-nav--opened .main-nav__toggle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main-nav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 8;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s;
}
.main-nav__show-overlay {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__wrapper {
    position: absolute;
    top: -650px;
    right: 0;
    left: 0;
    transition: top 0.4s, -webkit-transform 0.6s;
    transition: top 0.4s, transform 0.6s;
    transition: top 0.4s, transform 0.6s, -webkit-transform 0.6s;
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    transition: top 0.4s, -webkit-transform 0.6s;
    transition: top 0.4s, transform 0.6s;
    transition: top 0.4s, transform 0.6s, -webkit-transform 0.6s;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }
  .main-nav--nojs .site-list__item {
    display: block;
  }
}
@media (min-width: 768px) {
  .main-nav {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .main-nav__wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__list {
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 22px;
  }
  .main-nav__social {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-nav__list {
    margin-left: 20px;
  }
}
@media (min-width: 1700px) {
  .main-nav__list {
    margin-left: 85px;
  }
}
.modal-subscribe {
  left: 50%;
  width: 400px;
  margin-left: -160px;
  box-sizing: border-box;
  padding: 50px 5px;
}
.modal-subscribe input[type='text'],
.modal-subscribe input[type='email'] {
  padding: 10px 10px;
  width: 265px;
  border: 2px solid #3E4348;
  font-size: 20px;
}
@media (min-width: 768px) {
  .modal-subscribe {
    top: 140px;
    margin-left: -300px;
    padding: 68px 90px;
  }
  .modal-subscribe input[type='text'],
  .modal-subscribe input[type='email'] {
    padding: 8px 10px;
    width: 341px;
    font-size: 25px;
  }
}
@media (min-width: 1200px) {
  .modal-subscribe {
    top: 48px;
  }
}
@media (min-width: 1700px) {
  .modal-subscribe {
    top: 120px;
  }
}
.modal {
  width: 320px;
  position: fixed;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.modal h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  color: #3E4348;
}
.modal__description {
  margin-top: 10px;
  text-align: center;
  color: #3E4348;
}
.modal__subscribe-form {
  margin-top: 15px;
  padding: 0 10px;
  text-align: left;
  color: #3E4348;
}
.modal__subscribe-form input {
  margin: 3px 0;
}
.modal__indicates {
  text-align: right;
  margin: 0;
  margin-bottom: 15px;
}
.modal__indicates::before {
  content: '*';
  color: #C72E45;
  padding: 5px;
  font-size: 15px;
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: 0;
  font-size: 0;
  cursor: pointer;
}
.modal__close::before,
.modal__close::after {
  content: "";
  position: absolute;
  top: 17px;
  right: 0;
  width: 30px;
  height: 5px;
  background-color: #3E4348;
  border-radius: 5px;
}
.modal__close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.modal__close:hover:after,
.modal__close:hover:before {
  background-color: #C72E45;
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 40;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s;
}
.modal__show-overlay {
  opacity: 1;
  visibility: visible;
  transition: all 1s;
}
.modal-show {
  opacity: 1;
  transition: all 0.5s;
  visibility: visible;
}
@media (min-width: 768px) {
  .modal {
    width: 621px;
  }
  .modal h2 {
    font-size: 50px;
  }
  .modal__close {
    position: absolute;
    top: -45px;
    right: -45px;
  }
  .modal__close::before,
  .modal__close::after {
    width: 35px;
    background-color: #ffffff;
  }
  .modal__description {
    margin-bottom: 35px;
  }
  .modal__subscribe-form {
    margin-top: 27px;
    padding: 0 38px;
  }
  .modal__indicates {
    margin-bottom: 25px;
  }
}
.page-footer {
  text-align: center;
}
.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
}
.page-footer__subscribe {
  display: block;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 13px 15px;
  box-sizing: border-box;
  background-color: #3E4348;
}
.page-footer__subscribe {
  text-decoration: none;
  color: #ffffff;
}
.page-footer__subscribe:hover {
  color: #ffffff;
  background-color: #C72E45;
  transition: 0.5s;
}
.page-footer__copuright {
  margin: 20px 0;
}
.page-footer__copuright a {
  text-decoration: none;
  color: #3E4348;
}
.page-footer__copuright a:hover {
  color: #C72E45;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .page-footer {
    flex-shrink: 0;
  }
  .page-footer__wrapper {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .page-footer__subscribe {
    width: 310px;
    height: 95px;
    padding: 35px 15px;
  }
  .page-footer__copuright {
    margin: 35px 50px;
  }
}
.page-header {
  background-color: #F8F8FF;
}
.page-header__wrapper {
  width: 320px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.page-header__block {
  position: absolute;
  background-color: #F8F8FF;
  width: 100%;
  min-height: 87px;
  z-index: 15;
}
.page-header__logo {
  z-index: 20;
}
.page-header__logo-image {
  width: 65px;
  height: 65px;
  margin-top: 11px;
  margin-left: 15px;
  margin-bottom: 11px;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
}
@media (min-width: 768px) {
  .page-header {
    min-height: 177px;
  }
  .page-header__wrapper {
    width: 100%;
    max-width: 1920px;
    flex-direction: row;
  }
  .page-header__block {
    display: none;
  }
  .page-header__logo {
    min-width: 175px;
    height: 178px;
    background-color: #ffffff;
  }
  .page-header__logo-image {
    width: 85px;
    height: 85px;
    margin: 0;
    margin-top: 42px;
    margin-left: 41px;
    padding: 0;
  }
}
@media (min-width: 1700px) {
  .page-header__logo {
    min-width: 215px;
    height: 178px;
  }
  .page-header__logo-image {
    margin-top: 45px;
    margin-left: 65px;
  }
  .page-header {
    min-height: 177px;
  }
}
.page-main {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}
.page-main__content,
.page-main__content--album {
  padding: 0 15px;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: opacity-title;
          animation-name: opacity-title;
}
.page-main__wrapper {
  margin: 0 auto;
  width: 320px;
  background-color: #ffffff;
}
.page-main__wrapper-content {
  height: 270px;
}
.page-main__wrapper-content--left {
  display: flex;
  flex-direction: column;
}
.page-main__title {
  margin: 0 15px;
  margin-bottom: 33px;
  padding-top: 33px;
  font-family: "noto_sansbold", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
}
@-webkit-keyframes opacity-title {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity-title {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.page-main__title--about {
  width: 100%;
  margin-top: 0;
}
.page-main__description--about {
  width: 100%;
}
.page-main__title--contacts {
  margin-top: 0;
}
.page-main__contacts-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.page-main__form {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}
.page-main__form p {
  margin: 0;
}
.page-main__form input[type='text'],
.page-main__form input[type='email'] {
  display: block;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px 6px;
  border: 2px solid #3E4348;
  font-size: 16px;
  width: 100%;
}
.page-main__form textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px 10px;
  height: 134px;
  border: 2px solid #3E4348;
  font-size: 16px;
}
.page-main__img img {
  display: block;
  margin-top: 25px;
  margin-left: 54px;
  margin-bottom: 20px;
  vertical-align: bottom;
  width: 213px;
  height: 268px;
}
.page-main__contacts {
  padding-top: 33px;
}
.page-main__img-contacts img {
  display: block;
  margin: 0 auto;
  width: 290px;
  height: 363px;
}
.page-main__contacts-list span {
  font-weight: bold;
}
.page-main__left-panel {
  padding-top: 50px;
  text-align: center;
}
@media (min-width: 768px) {
  .page-main {
    margin: 0;
    padding: 0;
    flex-grow: 1;
  }
  .page-main__wrapper {
    margin: 0 auto;
    padding-bottom: 135px;
    width: 100%;
    overflow-x: hidden;
    /* max-width: 768px; */
    margin-bottom: -95px;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
  }
  .page-main__wrapper-content {
    height: auto;
  }
  .page-main__wrapper-content--left {
    display: flex;
    flex-direction: column;
  }
  .page-main__left-panel {
    margin: 0;
    padding: 0;
    min-width: 80px;
    text-align: center;
  }
  .page-main__left-panel--element {
    position: relative;
    display: inline-block;
    margin-top: 250px;
    width: 5px;
    height: 100px;
    background-color: #c83c45;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: slidein;
            animation-name: slidein;
  }
  .page-main__left-panel--element::before {
    content: " ";
    width: 100px;
    height: 5px;
    color: green;
  }
  .page-main__left-panel--element b {
    position: absolute;
    top: -70px;
    right: -15px;
    -webkit-transform-origin: 63px 73px;
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    text-align: center;
    color: #3e4348;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: slidein-back;
            animation-name: slidein-back;
  }
  @-webkit-keyframes slidein-back {
    from {
      right: -48px;
      margin-top: 50px;
    }
    to {
      right: -15px;
      margin-top: 0px;
    }
  }
  @keyframes slidein-back {
    from {
      right: -48px;
      margin-top: 50px;
    }
    to {
      right: -15px;
      margin-top: 0px;
    }
  }
  @-webkit-keyframes slidein {
    from {
      height: 200px;
      margin-top: 200px;
    }
    to {
      height: 100px;
      margin-top: 250px;
    }
  }
  @keyframes slidein {
    from {
      height: 200px;
      margin-top: 200px;
    }
    to {
      height: 100px;
      margin-top: 250px;
    }
  }
  .page-main__content,
  .page-main__content--album {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 0 100px;
    min-height: 711px;
  }
  .page-main__title {
    margin: 0;
    margin-top: 72px;
    margin-right: 0;
    margin-bottom: 32px;
    padding: 0;
    font-size: 50px;
  }
  .page-main__description--about {
    width: 435px;
  }
  .page-main__img img {
    margin: 0;
    margin-left: 35px;
    /* margin-bottom: 33px; */
    width: 334px;
    height: 424px;
    vertical-align: bottom;
    /* вот она */
    display: inline-block;
  }
  .page-main__img-contacts img {
    width: 220px;
    height: auto;
    border: 7px solid #c83c45;
    margin-top: 30px;
    margin-bottom: 27px;
  }
  .page-main__contacts {
    width: 435px;
  }
}
@media (min-width: 1024px) {
  .page-main__content,
  .page-main__content--album {
    min-height: 1030px;
  }
  .page-main__title {
    margin-left: 63px;
    font-size: 60px;
  }
  .page-main__wrapper-content {
    height: 420px;
  }
  .page-main__img img {
    margin-left: 165px;
    width: 454px;
    height: 557px;
  }
}
@media (min-width: 1200px) {
  .page-main__wrapper {
    padding: 0;
    overflow-x: visible;
  }
  .page-main__content {
    padding: 0;
    padding-left: 60px;
    padding-bottom: 150px;
    min-height: 500px;
    flex-direction: row;
    justify-content: center;
  }
  .page-main__content--album {
    padding: 0;
    padding-top: 35px;
    padding-left: 60px;
    padding-bottom: 115px;
    min-height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .page-main__wrapper-content {
    height: 270px;
  }
  .page-main__wrapper-content--left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .page-main__title {
    margin: 0;
    font-size: 45px;
  }
  .page-main__img img {
    margin: 0;
    margin-left: 20px;
    margin-top: -90px;
    width: 410px;
    height: auto;
  }
  .page-main__contacts {
    padding: 0;
  }
  .page-main__img-contacts img {
    margin: 0;
    margin-left: 60px;
  }
  .page-main__title--contacts {
    margin-bottom: 20px;
    font-size: 50px;
  }
  .page-main__title--about {
    font-size: 50px;
  }
  .page-main__left-panel--element {
    margin-top: 170px;
  }
}
@media (min-width: 1700px) {
  .page-main__content {
    min-height: 700px;
    padding: 0;
    padding-bottom: 40px;
  }
  .page-main__content--album {
    padding: 0;
    padding-left: 60px;
    padding-bottom: 40px;
    min-height: 700px;
    flex-direction: column;
  }
  .page-main__contacts {
    display: flex;
    flex-direction: column;
    width: 450px;
  }
  .page-main__form {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 460px;
  }
  .page-main__form input[type='text'],
  .page-main__form input[type='email'] {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 8px 10px;
    width: 435px;
    border: 2px solid #3E4348;
    font-size: 25px;
  }
  .page-main__form textarea {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 8px 10px;
    width: 435px;
    height: 134px;
    border: 2px solid #3E4348;
    font-size: 25px;
  }
  .page-main__title {
    position: relative;
    width: 522px;
    margin: 0;
    margin-left: 65px;
    /* margin-top: 165px; */
    font-size: 70px;
  }
  .page-main__img-contacts {
    margin-left: 80px;
  }
  .page-main__img-contacts img {
    margin: 0;
    padding: 0;
    display: block;
    border: 7px solid #c83c45;
    width: 290px;
    height: auto;
  }
  .page-main__description--contacts {
    margin: 0;
    margin-bottom: 65px;
  }
  .page-main__img img {
    margin-top: -62px;
    margin-left: 125px;
    width: 594px;
    height: auto;
    vertical-align: bottom;
    display: inline-block;
  }
  .page-main__wrapper {
    padding: 0;
    overflow-x: visible;
  }
  .page-main__wrapper-content {
    height: 425px;
  }
  .page-main__left-panel {
    padding: 0;
    min-height: 300px;
    max-height: 800px;
    min-width: 215px;
    background-color: #F8F8FF;
  }
  .page-main__left-panel--element {
    margin-top: 270px;
  }
  @-webkit-keyframes slidein-back {
    from {
      right: -48px;
      margin-top: 70px;
    }
    to {
      right: -15px;
      margin-top: 0px;
    }
  }
  @keyframes slidein-back {
    from {
      right: -48px;
      margin-top: 70px;
    }
    to {
      right: -15px;
      margin-top: 0px;
    }
  }
  @-webkit-keyframes slidein {
    from {
      height: 200px;
      margin-top: 200px;
    }
    to {
      height: 100px;
      margin-top: 270px;
    }
  }
  @keyframes slidein {
    from {
      height: 200px;
      margin-top: 200px;
    }
    to {
      height: 100px;
      margin-top: 270px;
    }
  }
  .active {
    color: red;
  }
}
.site-list {
  text-decoration: none;
  text-align: center;
}
.site-list a {
  display: block;
  margin-bottom: 8px;
  padding: 10px 15px;
  text-decoration: none;
  color: #ffffff;
  background-color: #3E4348;
}
.site-list a[href]:hover {
  background-color: #C72E45;
  transition: 0.3s;
}
.site-list a[href]:active {
  background-color: #810F21;
}
.site-list__item--active a {
  background-color: #303336;
  color: rgba(255, 255, 255, 0.4);
}
.site-list__album--active a {
  color: #c83c45;
}
.site-list__icon {
  fill: #ffffff;
}
.site-list__album a:active {
  background-color: #c83c45;
  transition: 0.8s;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-family: "noto_sansbold";
  }
  .site-list__item {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .site-list a {
    position: relative;
    display: block;
    margin: 0;
    padding: 8px 15px;
    text-decoration: none;
    color: #3E4348;
    background-color: transparent;
    border: 4px solid transparent;
    box-sizing: border-box;
  }
  .site-list__item--active a {
    position: relative;
    background-color: transparent;
  }
  .site-list a::after,
  .site-list a::before {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    border: 4px solid #C72E45;
    transition: all 0.4s ease-in;
    opacity: 0;
    visibility: hidden;
  }
  .site-list a::before {
    right: -5px;
    top: -5px;
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
    border-left: none;
    border-bottom: none;
  }
  .site-list a::after {
    left: -5px;
    bottom: -5px;
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
    border-right: none;
    border-top: none;
  }
  .site-list a[href]:hover::before,
  .site-list a[href]:hover::after {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .site-list__item--active a {
    color: #C72E45;
    /* text-decoration: underline; */
  }
  .site-list a[href]:hover {
    background-color: transparent;
    /* color: #C72E45;
			transition: 1.5s; */
  }
  .site-list a[href]:active {
    background-color: transparent;
  }
  .site-list__icon {
    fill: #AEAEAE;
  }
  .site-list__item:hover .submenu-list {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }
}
@media (min-width: 1700px) {
  .site-list__item {
    margin-right: 40px;
  }
}
.social-list {
  text-decoration: none;
  text-align: center;
}
.social-list a {
  display: block;
  margin-bottom: 8px;
  padding: 10px 15px;
  text-decoration: none;
  color: #ffffff;
  background-color: #3E4348;
}
.social-list a[href]:hover {
  background-color: #C72E45;
  transition: 0.3s;
}
.social-list a[href]:active {
  background-color: #810F21;
}
.social-list__icon {
  fill: #ffffff;
}
@media (min-width: 768px) {
  .social-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    font-family: "noto_sansbold";
  }
  .social-list__item {
    width: 45px;
    height: 45px;
    margin-right: 30px;
    display: flex;
  }
  .social-list__item a {
    position: relative;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 45px;
    height: 45px;
    text-decoration: none;
    color: #3E4348;
    background-color: transparent;
    border: 1px solid transparent;
    box-sizing: border-box;
  }
  .social-list a::after,
  .social-list a::before {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    border: 4px solid #C72E45;
    transition: all 0.4s ease-in;
    opacity: 0;
    visibility: hidden;
  }
  .social-list a::before {
    right: -10px;
    top: -10px;
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
    border-left: none;
    border-bottom: none;
  }
  .social-list a::after {
    left: -10px;
    bottom: -10px;
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
    border-right: none;
    border-top: none;
  }
  .social-list a:hover::before,
  .social-list a:hover::after {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .social-list a[href]:hover {
    background-color: transparent;
  }
  .social-list a[href]:active {
    background-color: transparent;
  }
  .social-list__icon {
    fill: #AEAEAE;
  }
}
.submenu-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 300px;
}
.submenu-list__show {
  display: block;
}
.submenu-list__closed {
  display: none;
}
.submenu-list a {
  background-color: #ffffff;
  color: #3E4348;
}
.submenu-list__item.site-list__item--active.active a {
  color: #C72E45;
}
@media (min-width: 768px) {
  .submenu-list {
    position: absolute;
    width: 190px;
    top: 120px;
    background-color: #ffffff;
    border: 2px solid #ededf4;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
  }
  .submenu-list::after {
    content: '';
    position: absolute;
    /* Абсолютное позиционирование */
    left: 89px;
    top: -19px;
    /* Положение треугольника */
    border: 10px solid transparent;
    /* Прозрачные границы */
    border-bottom: 10px solid #ffffff;
    /* Добавляем треугольник */
  }
  .submenu-list::before {
    content: '';
    position: absolute;
    /* Абсолютное позиционирование */
    left: 85px;
    top: -27px;
    /* Положение треугольника */
    border: 14px solid transparent;
    /* Прозрачные границы */
    border-bottom: 14px solid #ededf4;
    /* Добавляем треугольник */
  }
}
@media (min-width: 1200px) {
  .submenu-list {
    margin: 0;
    padding: 5px;
    display: block;
    width: 190px;
    top: 125px;
    left: 260px;
    margin-top: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, margin-top 0.3s, visibility 0s linear 0.3s;
  }
  .submenu-list__item {
    display: block;
  }
  .submenu-list .submenu-list__item a {
    padding: 10px;
    color: #3E4348;
    text-decoration: none;
    background-color: transparent;
  }
  .submenu-list__item.site-list__item--active.active a {
    color: #C72E45;
  }
}
@media (min-width: 1700px) {
  .submenu-list {
    left: 370px;
  }
}
.tracks-list {
  margin: 0;
  padding: 0;
  counter-reset: heading;
}
.tracks-list__item {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 18px;
  list-style-type: none;
  cursor: pointer;
}
.tracks-list__item a {
  text-decoration: none;
  color: #3E4348;
}
.tracks-list__item b {
  float: right;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}
.tracks-list li::before {
  padding-right: 20px;
  counter-increment: heading;
  content: counter(heading) " ";
}
@media (min-width: 1200px) {
  .tracks-list__item {
    position: relative;
  }
  .tracks-list__item::after {
    content: "";
    position: absolute;
    height: 0;
    width: 100%;
    top: 30px;
    left: -2px;
    border: 2px solid #C72E45;
    opacity: 0;
    visibility: hidden;
  }
  .tracks-list__item:hover::after {
    width: 100%;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.6s;
  }
}
