.album-tracks { 
	margin: 0;
	margin-top: 50px;
	margin-bottom: 30px;
	padding: 0;
	order: 2;
}	


@media (min-width: @tablet-width) {
	.album-tracks {
		width: 373px;
		margin: 0;
		padding: 60px 0;
	}
}

@media(min-width: @tablet-ipad-pro-width){ 
	.album-tracks {
		width: 480px;
	}

}

@media (min-width: @desktop-width-one) {
	.album-tracks {
		width: 337px;
		margin: 0;
		margin-left: 50px;
		padding: 0;
		padding-top: 20px;
		order: 0;
	}

	.album-tracks__list {
		margin: 0;
		padding: 0;
	}
}

@media (min-width: @desktop-width) {
	.album-tracks {
		margin-left: 150px;
		float: right;

	}
}
