.albums-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.albums-item {
	padding: 12px 15px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 7px solid #C72E45;
	background-color: #3E4348;
}

.album-item__img {
	display: none;
} 

.albums-item a {
	display: block;
	text-decoration: none;
	color: #ffffff;
	border: none;
	line-height: normal;
}


@media (min-width: @tablet-width) {
	.albums-item {
    height:136px;
    padding: 0;
    margin-bottom: 20px;
    background:#EFEFEF;
    border: none;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
	}

	.albums-item a {
    position: relative;
    float: left;
    background: gray;
    width: 80px;
    height:100%;
	}

	.albums-item a span {
    width: 136px; /* same as height of .rotateObj */
    -webkit-transform-origin:77px 59px;
    display:inline-block;
    -webkit-transform:rotate(-90deg);
    text-align:center;
	}

 .albums-item a {
    background: #3E4348;
	}

	.album-item__cover  {
		position: absolute;
		bottom: 0;
		right: 0;
	  float: right;
	  width: 25px;
	  height: 100%;
	  background: #C72E45;
	}
}

@media (min-width: @desktop-width) {
.album-item__img {
	display: block;
} 

	.album-item__cover {
		width: 136px;
	}

	.albums-item a {
  	width: 200px;
	}

	.albums-item a span {
    width: 136px; /* same as height of .rotateObj */
    -webkit-transform-origin:63px 73px;
    display:inline-block;
    -webkit-transform:rotate(-90deg);
    text-align:center;
	}
}