.button {
	display: block;
	box-sizing: border-box;
	padding: 15px;
	background-color: #3E4348;
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	color: #ffffff;
	border: none;
	width: 100%;
	cursor: pointer;
}

.button-contacts {
	padding: 15px;
	margin: 0 auto;
	margin-top: 30px;
	width: 200px;
	font-size: 16px;
}

.button-contacts:hover {
	background-color: #C72E45;
	transition: 0.3s;
}


@media  (min-width: @desktop-width) {
	.button-contacts {
		margin: 0;
		margin-top: 30px;
	}

	.button {
		font-size: 20px;
	}
}	



