.page-main {
	margin: 0;
	padding: 0;
	padding-bottom: 40px;
}
.page-main__wrapper {
	width: 320px;
	margin: 0 auto;
	background-color: #ffffff;
}

.page-main__title {
	margin: 33px 15px;
	font-family: "noto_sansbold", "Arial", sans-serif;
	font-style: normal;
	font-weight: bold;
}


.page-main__img img {
	display: block;
	margin-left: 100px;
	vertical-align:bottom;
	width: 193px;
	height: 274px;
}

@media (min-width: @tablet-width) {
	.page-main {
		margin: 0;
		padding: 0;
		flex-grow: 1; // для прижатия footer
	}

	.page-main__wrapper {
		width: 100%;
		margin-bottom: -53px;
		max-width: 1920px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

	}

	.page-main__left-panel {
		margin: 0;
		padding: 0;
		background-color: #F8F8FF;
		width: 78px;
		text-align: center;
	}

	.page-main__left-panel--element {
		display: inline-block;
		margin-top: 250px;
		width: 5px;
		height: 100px;
		background-color: #c83c45;
	}

 
	.page-main__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;
		
	}

	.page-main__title {
		margin-top: 82px;
		margin-left: 22px;
		margin-right: 0;
		margin-bottom: 20px;
		font-size: 50px;
	}

	.page-main__img img{
		margin-left: 197px;
		margin-bottom: 20px;
		/* margin-bottom: -48px; */
		width: 369px;
		height: 523px;
		vertical-align:bottom; /* вот она */
		display:inline-block;
	}

 
}

@media(min-width: @tablet-ipad-pro-width){
	.page-main__img img {
		max-width: 616px;
		width: 610px;
		height: 864px;
  }	
}  


@media (min-width: @desktop-width) {
	.page-main__content {
		flex-direction: row;
		justify-content: flex-start;
		padding-left: 100px;
		/* box-shadow: -8px 8px 10px -10px rgba(0,0,0,0.1); */
	}

	.page-main__contacts {
		display: flex;
		flex-direction: column;
		width: 500px;
	}

	.page-main__form {
		display: flex;
		flex-direction: column;
		margin-top: 100px;
		width: 460px;
	}

	.page-main__form p {
		margin: 0;
	}

	.page-main__form  input[type='text'],
	.page-main__form  input[type='email'] {
		margin-top: 5px;
		margin-bottom: 20px;
		padding: 8px 10px;
		width: 435px;
		border: 2px solid #3E4348;
		font-size: 25px;
	}

	.page-main__form textarea {
		margin-top: 5px;
		margin-bottom: 20px;
		padding: 8px 10px;
		width: 435px;
		height: 134px;
		border: 2px solid #3E4348;
		font-size: 25px;
	}

	.page-main__title {
		width: 522px;
		margin: 0;
		margin-top: 165px;
		font-size: 70px;
	}

	.page-main__title--contacts {
		margin-top: 100px;
		margin-bottom: 20px;
    font-size: 70px;
   } 


	.page-main__img-contacts {
		margin-top: 100px;
	}

  .page-main__img-contacts img {
  	margin: 0;
  	padding: 0;
  	display: block;
		border: 7px solid #c83c45;
		width: 334px;
  	height: 435px;
   } 

  .page-main__contacts-list {
  	margin: 0;
  	padding: 0;
  	list-style-type: none;
  }

  .page-main__contacts-list span {
  	font-weight: bold;
  }

  .page-main__description--contacts {
  	margin: 0;
  	margin-bottom: 65px;
  }

	.page-main__img img{
		margin-top: -45px;
		margin-left: 195px;
		/* width: 528px;
		height: 748px; */
		width: 594px;
		height: auto;
		/* width: 626px;
		height: 802px; */
		vertical-align:bottom; /* вот она */
		display:inline-block;

	}

	.page-main__wrapper {
		min-height: 736px;
	}

	.page-main__left-panel {
		min-height: 300px;
		max-height: 800px;
		width: 215px;
	}
}

.active {
	color: red;
} 